body{
	font-family: "Optima";
	font-weight: normal;
	font-size: 14px;
	position: relative;
}

h1{
	color:grey;
	text-align: center;
	font-family: "Optima"
	font-size: 20px;
}
p{
	font-family: "Optima";
	color:maroon;
	text-align: center;
}
h2{
	font-family: "Optima";
	text-align: center;
	color:grey;
	font-size: 20px;
}
ul{
	font-family: "Optima";
	text-align: center;
	padding: 0px 1px 0px 1px;
}

footer{
	background-color: maroon;
	color: beige;
	size: 10px;
	text-align: center;
}
